<section style="margin-top:10%;">

    <div ng-model="produit" class="dtl col-md-6 col-xs-12 col-lg-offset-3">
        <div class="thumbnail">
            <h1 style="text-align:center">{{produit.nom}}</h1>
            <h2 style="text-align:center" ng-hide="produit.location" class="prix">PRICE : {{produit.prix}} $</h2>
            <h2 style="text-align:center" ng-show="produit.location" class="prix">Prix/Jour : {{produit.prixlocation}} $</h2>

            <img ng-src="{{produit.image}}" alt="photo-non-disponible.jpg" />

            <div class="caption" ng-show="!produit.location">
              <label style="margin-left:20px;"> Quantité :</label>
              <input type="number" min="1" max="{{produit.quantite}}" ng-model="qt" placeholder="quantité" style="width:70px;" aria-label="quantité" required/>
                <button class="btn btn-skin pull-right" id="btnContactUs"   ng-click="addpanier(produit,qt)">
                    <strong>Ajouter au panier</strong>
                </button>

            </div>
            <div  ng-show="produit.location">
                <md-datepicker  md-date-filter="onlyAvailable" ng-model="date" md-placeholder="Date debut" md-min-date="minDate" ng-disabled="disable">
                </md-datepicker>
                <button class="btn btn-skin pull-right" id=""  ng-click="showConfirm($event,date,produit)"  >
                    Reserver votre article
                </button>

                <h4 style="color:blue; " ng-show="message "> {{message}}</h4>
            </div>
    
</div>
    </div>
        </section>