<section>

    <div ng-model="produit" class="dtl col-xs-6 col-lg-offset-3">
        <div class="thumbnail">
            <h1 style="text-align:center">{{produit.nom}}</h1>
            <img ng-src="{{produit.image}}" alt="{{p.nom}}"/>
            <h2 class="prix">PRICE : {{produit.prix}} $</h2>
            <div class="caption">
              <a href="#panier"><md-button ng-click="addpanier(produit)">
                <strong><img src="public/images/shopping.png" ></strong>
</md-button></a>
            </div>
            </div>
        </div>

</section>
