html, body , header {
    font-size: 100%;
    background: #000;
    font-family: 'Open Sans', sans-serif;
}
.header-bottom {
  padding: 0.7em 1em;
}
.logo {
    background: #000;
    width: 10%;
    height: 3%;
    margin: 0 auto;
    float: left;
    text-align: center;
}
.inputrecherche{
margin: 1em;
width:100%;
height: 40px;
right: 43px;
background: #d2232a;
padding: 1em;
font-size: 15px;
color: #ffffff;
}
.buttondrop{
  margin: 0.7em;
  background: black;
  border: none;
  color: white;
}
.nav{
  float: right;
  padding-left: 10em;
}
.linav{
  margin-left: 3em;
}
.a-li{
  color: white;
}
h1{
  color: white;
}
.div1{background-color: white;
width: 300px;}
