html, body , header {
    font-size: 100%;
    background: #000;
    font-family: 'Open Sans', sans-serif;
}
.header-bottom {
  padding: 0.7em 1em;
}
.logo {
    background: #000;
    width: 10%;
    height: 3%;
    margin: 0 auto;
    float: left;
    text-align: center;
}
.inputrecherche{
margin: 1em;
width:100%;
height: 40px;
right: 43px;
background: #d2232a;
padding: 1em;
font-size: 15px;
color: #fff;
}
.info{
color: white;
font-size: 29px;
text-align: center;

}
.buttondrop{
  margin: 0.7em;
  background: black;
  border: none;
  color: white;
}
.nav{
  float: right;
  padding-left: 10em;
}
.linav{
  margin-left: 3em;
}
.a-li{
  color: white;
}
h1{
  color: white;
}
.cadreimage{
  width: auto;
  height: 25em;
  background-color: white;

  margin: 1.5em;
  float: left;
  border: 2px groove ;
  border-radius: 4px;
  border-color: grey;
}
.prix{
  color: red;
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
}
.textrecherche{
  margin: 1em 0;
  width: 25em;
  height: 3em;
  padding: 1em;
}
.imgcarousel{
  background-size: cover;
  width: auto;
  max-height: 500px;
  min-width: 100%;
}
.description{
  text-shadow: 2px 2px 4px red;
}
.table{
  max-width: 200px;
  margin: auto;
}
.trarticle{
  width:50%;
  margin: auto;
}
.fieldset1{
  background-color: black;
}
.buttom{
    padding: 14px;
    width: 30%;
    background: #fff;
    border: none;
    outline: none;
    color: #464646;
    font-size: 1em;
    margin-bottom: 3em;
    margin: 2em 35em;

}
.buttom1{
    padding: 14px;
    width: 10%;
    background: #d2232a;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
    margin-bottom: 3em;
    margin: 2em 45em;

}
