<div class="container-fluid row divproduit" id="navbar">

<div class="container col-md-8 col-lg-offset-2" ng-model="user" style="margin-top:5em;">

    <table class="col-md-8 col-xs-12 table table-responsive table-hover ">
        <thead>
        <tr>
            <th>Nom du Produit</th>
            <th>quantité</th>
            <th>prixTotal</th>
            <th>Date de commande</th>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="com in user.Commande  | limitTo:maxSize:(currentPage - 1) * maxSize">
            <td>{{com.idproduit}}</td>
            <td>{{com.qt}}</td>
            <!--<td>{{com.idproduit.prix}}</td>-->
            <td>{{com.totalprixproduit}}</td>
            <td>{{com.dateValidation}}</td>

        </tr>
        </tbody>
    </table>
    <uib-pagination total-items="user.Commande.length" ng-model="currentPage" items-per-page="maxSize" ng-change="pageChanged()"></uib-pagination>
</div>
</div>