<fieldset class=" col-md-12 ">
    <input class="textrecherche" type="text" placeholder="Cherchez votre produit" ng-model="lettres">
    <input class="textrecherche" type="text" placeholder="Limiter le nombre de produits" ng-model="limitation">
</fieldset>


<md-content class="col-md-12">
    <div>
<md-card  class="portion col-md-3" ng-repeat="foot in footballs | filter:foot.prix | limitTo:limitation |filter : lettres">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">  <h4 class="title">{{foot.nom}}</h4></span>
            <span class="md-subhead"><h5 class='prix'>PRICE : {{foot.prix}} $</h5></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"><img ng-src="{{foot.image}}" /></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/detailsF/{{foot._id}}">Details </md-button>

        </md-card-actions>
      </md-card>
    </div>
</md-content>
