<fieldset class=" col-md-12 ">
    <input class="textrecherche" type="text" placeholder="Cherchez votre produit" ng-model="lettres">
    <input class="textrecherche" type="text" placeholder="Limiter le nombre de produits" ng-model="limitation">
    <b>€ 0</b>
    <input id="ex2" type="range" class="span2" ng-model="foot.prix" style="width:100px;float:right" /> <b>€ 1000</b>

</fieldset>
<div class=" col-md-3" style="margin-top:6em" ng-repeat="foot in footballs | filter:foot.prix | limitTo:limitation |filter : lettres">
    <a href="#/detailsF/{{footballs.indexOf(foot)}}" class="btn btn-default btn-lg" role="button"><strong>Détails</strong>
      <img ng-src="public/images/football/{{foot.image}}" /></a>

    <h4 class="title">{{foot.nom}}</h4>
    <h5 class='prix'>PRICE : {{foot.prix}} $</h5>

</div>