<div class="col-md-5">
<input class="textrecherche" type="text" placeholder="Cherchez votre produit" ng-model="lettres">
</div>
  <div class="col-md-7" >

    <b style="float:left">$ 0</b><md-slider style="float:left"flex="50" min="0" max="500" ng-model="prix" aria-label="red" id="red-slider" class>
    </md-slider><b>$ 500</b>
  </div>


<md-content class="col-md-12">
    <div>
<md-card  class="portion col-md-3" ng-repeat="foot in footballs | displayMe:prix | filter:lettres
| limitTo:maxSize:(currentPage - 1) * maxSize">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">  <h3>{{foot.nom}}</h3></span>
            <span class="md-subhead"><h5 class='prix'>PRICE : {{foot.prix}} $</h5></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"><img ng-src="{{foot.image}}" /></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/details/{{foot._id}}"style="background-color:grey"><span class="glyphicon glyphicon-zoom-in"></span>Details </md-button>

        </md-card-actions>
      </md-card>
    </div>
</md-content>
<div class="col-md-12">
  <uib-pagination total-items="footballs.length" ng-model="currentPage" items-per-page="maxSize" ng-change="pageChanged()"></uib-pagination>
</div>
