

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" style="background-color:#006DF0"class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#home"> <img  src="public/images/stretching-exercises.png" /></a>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse ">
  <ul class="nav navbar-nav">

    <li ng-if="islogged" ><a>{{user.username}}<img class="img-circle" style="width:25px;heigth:25px;" ng-src="{{user.photo}}" /></a></li>
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown"> <img style="margin-right:5px;"src="public/images/different-squares.png" alt="" />CATEGORIES <b class="caret"></b></a>
      <ul class="dropdown-menu">

        <li><a href="#football"><strong><img  src="public/images/football-player-running-behind-the-ball.png"/>FOOTBALL</strong></a></li>
          <li class="divider"></li>
        <li><a href="#tennis"><strong><img src="public/images/tennis.png" />TENNIS</strong></a></li>
          <li class="divider"></li>
        <li><a href="#golf"><strong><img src="public/images/golf-player.png" />GOLF</strong></a></li>
        <li class="divider"></li>
        <li><a  href="#cyclisme"><strong><img src="public/images/bicycle-rider.png" />CYCLISME</strong></a></li>
        <li class="divider"></li>
      </ul>
    </li>
    <li><a  style='margin-right:0.5em'href="#produits"><strong><img style="margin-right:5px;"src="public/images/man-sprinting.png" />TOUS NOS PRODUITS</strong></a></li>
    <li><a  style='margin-right:0.5em'href="#prodlocation"><strong><img src="public/images/rent.png" /> PRODUITS A LOUER</strong></a></li>
    <li><a ng-hide="!islogged" ng-click="panier()" href="/#panier"> <strong><img src="public/images/shopping-cart.png"  />&nbsp PANIER</strong>&nbsp<span class="badge red"style="background-color:red;">{{user.panier.length}}</span></a></li>

    <li class="dropdown" ng-if="islogged">
      <a href="" class="dropdown-toggle" data-toggle="dropdown"> <img src="public/images/add-button.png" alt="" />&nbsp MORE <b class="caret"></b></a>
      <ul class="dropdown-menu"> <li uib-dropdown ng-show="!status">

        <li ng-if="islogged" ><a uib-dropdown-toggle>{{user.username}}<img class="img-circle" style="width:25px;heigth:25px;" ng-src="{{user.photo}}"  /></a></li>
        <li role="separator" class="divider"></li>
        <li ng-if="isadmin" ><a ng-href="/#products"><i>&nbsp;</i>GESTION DES PRODUITS</a></li>
        <li ng-if="isadmin" ><a ng-href="/#user"><i>&nbsp;</i>GESTION DES UTILISATEURS</a></li>
        <li role="separator" class="divider"></li>
        <li ng-if="islogged"><a ng-href="/#">&nbsp PARAMETRES</a></li>
        <li ng-if="islogged"><a ng-href="/#logout">&nbsp SE DECONNECTER</a></li>
        <li class="divider"></li>
      </ul>
    </li>
    <li  ng-if="!islogged" ><a ng-href="/#register">S'INSCRIRE</a></li>
    <li  ng-if="!islogged" ><a ng-href="/#login">S'IDENTIFIER</a></li>
    <li><a href="#contact"><img src="public/images/group-button.png" alt="" />&nbsp Contact</a></li>

  </ul>
        </div>
    </div>
  </nav>
