<div class="col-md-12">
<div class="col-md-6">
<input class="textrecherche" type="text" placeholder="Cherchez votre produit" ng-model="lettres">
</div>  <h4>Prix</h4>
  <div >

    <b>$ 0</b><md-slider flex="50" min="0" max="500" ng-model="prix" aria-label="red" id="red-slider" class>
    </md-slider><b>$ 500</b>
  </div>
</div>
<fieldset class=" col-md-12 ">

<div class="produit col-md-3" style="margin-top:1em" ng-repeat="product in produits | displayMe:prix | filter:lettres
| limitTo:maxSize:(currentPage - 1) * maxSize">

    <img style="width:150px;height:150px"ng-src="{{product.image}}"/></a>

 <h4 class="title">{{product.nom}}</h4>

  <h5 class='prix'>PRICE : {{product.prix}} $</h5>


</div>

</fieldset>
<div class="col-md-12">
  <uib-pagination total-items="produits.length" ng-model="currentPage" items-per-page="maxSize" ng-change="pageChanged()"></uib-pagination>
</div>
