<div class="table-bordered table-striped table-responsive col-md-10 col-xs-6 col-md-offset-1"style="margin-top:10em;">

<table class="col-md-12 col-xs-12 table table-responsive">
    <thead>

        <tr>
            <td  style="text-align:center">Article</td>
            <td  style="text-align:center">Prix</td>
            <td  style="text-align:center">
                Image
            </td>
            <td  style="text-align:center">Quantité</td>

            <td  style="text-align:center">Total</td>
            <td style="text-align:center">Retirer</td>
        </tr>
    </thead>

        <tr ng-repeat="produit in produits | filter:searchBook | limitTo:maxSize:(currentPage - 1) * maxSize">
            <td style="text-align:center">{{produit.nom}}</td>
            <td style="text-align:center">{{produit.prix}}</td>
            <td style="text-align:center">
                <img style="heigth:25%;width:40%" ng-src="{{produit.image}}" />
            </td>
            <td style="text-align:center">
                <label style="color:black"> {{produit.qt}}</label>
            </td>

            <td style="text-align:center">
                <label style="color:black">{{produit.qt*produit.prix}}</label>




            <td>
                <label style="color:black">
              {{somme}}</label>
            </td>


            <td>



                <button style="margin-right:10em;"class="btn btn-skin pull-right" id="btnContactUs" ng-click="delete(produit.idproduit)">Delete</button>

            </td>


        </tr>

    </tbody>
    <tfoot>

</tfoot>
</table>

<button class="btn btn-skin pull-right" id="btnContactUs" style="margin:6em;"ng-click="validePanier()">Valider votre panier</button>
</div>
