<div class="container-fluid row divproduit" id="navbar">

    <div class="table-bordered table-striped table-responsive col-md-10 col-xs-12 col-md-offset-1" style="margin-top:5em;">

        <input type="text" class="form-control" placeholder="Search produit" ng-model="searchProduit" style="width: 30%; margin: 30px">
        <table class="col-md-12 col-xs-12 table table-responsive">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Image</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Location</th>
                    <th>Prix location</th>
                    <th>Categorie</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-1">
                        <input type="text" id="title" placeholder="nom" class="form-control" ng-model="produit.nom">
                    </td>
                    <td class="col-md-3">
                        <input type="text" id="title" placeholder="url-image" class="form-control" ng-model="produit.image">
                    </td>
                    <td class="col-md-1 ">
                        <input type="number" id="title" placeholder="prix" class="form-control" ng-model="produit.prix">
                    </td>
                    <td class="col-md-1 ">
                        <input type="number" id="title" placeholder="quantité" class="form-control" ng-model="produit.quantite">
                    </td>
                    <td class="col-md-1 ">
                        <div flex-xs flex="50">
                            <md-checkbox ng-model="produit.location" aria-label="Checkbox 1">

                            </md-checkbox>
                        </div>
                    </td>
                    <td class="col-md-1 ">
                        <input type="number" id="title" placeholder="prix location" class="form-control" ng-model="produit.prixlocation">
                    </td>

                    <td class="col-md-2 ">
                        <select class="form-control" name="multipleSelect" id="multipleSelect" ng-model="produit.categorie" multiple>
                            <option value="football">Football</option>
                            <option value="cyclisme">Cyclisme</option>
                            <option value="tennis">Tennis</option>
                            <option value="golf">Golf</option>
                        </select>
                    </td>
                    <td class="col-md-2 col-xs-1">
                        <md-button class="md-raised md-primary" placeholder="Produit add" class="btn btn-success" ng-click="addProduct()"><span><img style="width:15px;height:15px;"src="public/images/plus-button.png" alt="" /></span>Add</md-button>
                        <md-button class="md-raised md-primary" placeholder="Produit add" class="btn btn-info" ng-click="update(produit)"><span><img style="width:15px;height:15px;"src="public/images/update-arrows.png" alt="" /></span>Update</md-button>
                    </td>
                </tr>
                <tr ng-repeat="produit in produits | filter:searchProduit | limitTo:maxSize:(currentPage - 1) * maxSize">
                    <td>{{produit.nom}}</td>
                    <td><img style="width:150px;height:150px" ng-src='{{produit.image}}' /></td>
                    <td>{{produit.prix}}</td>
                    <td>{{produit.quantite}}</td>
                    <td>{{produit.location}}</td>
                    <td>{{produit.prixlocation}}</td>
                    <td>{{produit.categorie}}</td>
                    <td>
                        <md-card-actions layout="row">
                            <md-button ng-show="produit.location" href="#/reservations/{{produit._id}}" class="md-raised md-primary">Liste des réservations</md-button>
                        </md-card-actions>
                        <md-button class="md-raised md-primary" ng-click="recup(produit._id)"><span class="glyphicon glyphicon-pencil"></span>Edit</md-button>
                        <md-button class="md-raised md-primary" ng-click="deleteProduct(produit._id)"><span><img src="public/images/minus.png" style="text-align:center;width:15px;height:15px;"alt="" /></span>Delete</md-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <uib-pagination total-items="produits.length" ng-model="currentPage" items-per-page="maxSize" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>