




          <div class="container col-md-8 col-lg-offset-2" ng-model="produit" style="margin-top:5em;">

            <table class="col-md-8 col-xs-12 table table-responsive table-hover ">
                  <thead>
                    <tr>
                      <th>Utilisateur</th>
                      <th>produit</th>
                      <th>Date de réservation</th>

                    </tr>
                  </thead>
                  <tbody>

                    <tr ng-repeat="reservation in produit.reservation  | limitTo:maxSize:(currentPage - 1) * maxSize">
                      <td>{{reservation.idUser}}</td>
                      <td>{{reservation.idProduit}}</td>
                      <td>{{reservation.dateReservation}}</td>

                    </tr>
                  </tbody>
                </table>
                <uib-pagination total-items="reservations.length" ng-model="currentPage" items-per-page="maxSize" ng-change="pageChanged()"></uib-pagination>
          </div>
