<fieldset class="col-md-12 ">
<input class="textrecherche"type="text" placeholder="Cherchez votre produit" ng-model="lettres">
<input class="textrecherche"type="text" placeholder="Limiter le nombre de produits" ng-model="limitation">
<b>€ 0</b> <input id="ex2" type="range" class="span2" ng-model="ten.prix"style="width:100px;float:right"/> <b>€ 1000</b>
</fieldset>

<div class="col-md-3" ng-repeat="ten in tennis | filter:lettres |filter:ten.prix| limitTo:limitation ">
<div style="margin:2em;">
  <a href="#/detailsT/{{tennis.indexOf(ten)}}" class="btn btn-default btn-md" role="button"><strong>Détails</strong>
    <img ng-src="{{ten.image}}" /></a>

  <h4 class="title">{{ten.nom}}</h4>

  <h5 class='prix'>PRICE : {{ten.prix}} $</h5>
</div>

</div>
