<fieldset class="col-md-12 ">
<input class="textrecherche"type="text" placeholder="Cherchez votre produit" ng-model="lettres">
<input class="textrecherche"type="text" placeholder="Limiter le nombre de produits" ng-model="limitation">
</fieldset>
<table class="table">
<tr ....>
  <tr ng-repeat="cyc in cyclismes | filter:lettres | limitTo:limitation">
    <td> <a href="#/details/{{cyclismes.indexOf(cyc)}}" class="btn btn-default btn-lg" role="button"><strong>Détails</strong>
      <img ng-src="../images/cyclisme/{{cyc.image}}" /></a>
    </td>
    <td><h4 class="title">{{cyc.nom}}</h4>
    </td>
    <td><h5 class='prix'>PRICE : {{cyc.prix}} $</h5>
    </td>
  </tr>
</table>
