<fieldset class="col-md-12 ">
<input class="textrecherche"type="text" placeholder="Cherchez votre produit" ng-model="lettres">

</fieldset>
<table class="table">
<tr ....>
  <tr ng-repeat="foot in footballs | filter:lettres ">
    <td><a href="#/detailsF/{{foot.indexOf(foot)}}" class="btn btn-info btn-lg" role="button"><strong>Détails</strong>
      <img ng-src="../images/football/{{foot.image}}" /></a>
    </td>
    <td><h4>{{foot.nom}}</h4>
    </td>
    <td><h5 class='prix'>PRICE : {{foot.prix}} $</h5>
    </td>
  </tr>
</table>
