



<fieldset class="col-md-12 ">
<input class="textrecherche"type="text" placeholder="Cherchez votre produit" ng-model="lettres">
<input class="textrecherche"type="text" placeholder="Limiter le nombre de produits" ng-model="limitation">
</fieldset>
<div ng-repeat="ten in tennis | filter:lettres | limitTo:limitation ">
<table class="table" >
  <tr  class="trarticle" >
    <td><a href="#/detailsT/{{tennis.indexOf(ten)}}" class="btn btn-default btn-md" role="button"><strong>Détails</strong>
      <img ng-src="../images/tennis/{{ten.image}}" /></a>
    </td>
    <td><h4>{{ten.nom}}</h4>
    </td>
    <td><h5 class='prix'>PRICE : {{ten.prix}} $</h5>
    </td>

  </tr>
</table>
<!-- modal -->
    <div class="container">
      <div class="modal fade" id="modal-2">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal">&times</button>
              <h3 class="modal-title">Photo de profil</h3>
            </div>
            <div class="modal-body col-md-12 ">
                <img ng-src="images/tennis/{{ten.image}}">

    </div>
           </div>
          </div>
        </div>
      </div>
<!-- fin modal -->
</div>
